.form-container {
  margin: 50px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1.2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}
.form h2 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.3rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 35px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}



.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.3);

}

.wrapper .title h1{
  color: black;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 40%;
}

.input-fields .input,
.msg input {
  margin: 10px 0;
  border: 0px;
  border: 2px solid #0000004C;
  padding: 10px;
  color: #0000004C;
  width: 100%;
}
.login{
  margin-left: 200px;
}

.btn {
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  width: 100px;
  margin-left: 60%;
}
.container-staff-data{
  /* margin: 50px 0px 0px 50px; */
  margin: 8% 1% 2% 20%;
  width: 78%;
  padding:25px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 800px;
  
}
.container-staff{
  background-color: lightgray;
  border-radius: 10px;
  height: 50px !important;
}
.padding-auto{
  padding: auto;
}
.col{
  width: 30px;
  float: left;
}
.col-name{
  width: 90px;
  float: left;
}
.padding-top-10px{
  padding-top: 10px;
}
.time-data{
  background-color: rgba(173, 192, 233, 0.2);
  border-radius: 10px;
  font-size: 12px;
  margin: 2px;
  width: 100%;
}
.time-data-leave{
  background-color: rgba(214, 153, 74, 0.424);
  border-radius: 10px;
  font-size: 12px;
  margin: 2px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .navbar a {
      float: none;
      display: block;
  }
  
}