.content{
    box-shadow: 5px 5px 5px 5px #888888;
    background-color: white;
    color: gray;
    margin:25px;
    padding:100px;
    border-radius:10px ;
}
.animation{
    animation: mymove 5s infinite;
    animation-delay: 2s;
    position: relative;
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 20px;}
  }
  
.login{
    margin-top: 75px;
    width: 100% !important;
}
.container{
    width: 100%;
    /* text-align: center; */
}
.signup{
    margin-top: 75px;
    width: 100% !important;

}