

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  margin-left: 245px;
  margin-right: 0;
  overflow: auto;  
  background-color:#3498DB;
  color:#fff;
}

.home-content{
  text-align: left;
  font-size: 14pt;
  border:1px solid #fff;
  border-radius: 10px;
  margin:10px 30px;
  padding:15px;
}

.main-content
{  
  padding:15px;
}